 <section class="categories_Sec our_feature py_9">
                <div class="container">
                    <div class="flex_categry">
                        <div class="under_txt_fl">
                            <h2>{{ section.settings.heading }}</h2>
                        </div>
                        <div class="category_btn">
                            <a href="{{ section.settings.text_url }}" class="theme_btn">{{ section.settings.url_text }}</a>
                        </div>
                    </div>
                    <div class="row">

                     {% for product in section.settings.product_lists %}
                    
                        <div class="col-md-3" data-product-id="{{ product.id }}">
                            <div class="thermal_Sec">
                                <div class="img_thermal">
                                   <a href="{{ product.url }}"> <img src="{{ product.featured_image | product_img_url: 'large' }}" alt></a>
                                </div>
                               <div class="img_color">
                               <ul>
          {% for variant in product.variants %}
            {%- if variant.metafields.custom.image_color-%}
              <li data-attribute="{{ variant.price | money }}" data-compare="{{ variant.compare_at_price | money }}" class="variant-option">{{ variant.metafields.custom.image_color | metafield_tag }}</li>
            {%- endif -%}
          {% endfor %}
        </ul>
                                 
                               </div>
                                <div class="txt_thermal">
                                  <a href="{{ product.url }}">
                                    <h2>{{ product.title }}</h2>
                                  </a>
               <h4><span class="compare-price">{{ product.compare_at_price | money }}</span> <strong class="variant-price">{{ product.price | money }}</strong></h4>
                                </div>
                            </div>
                        </div>

             {% endfor %}



                    </div>
                </div>
            </section>

            <script>
  $(document).ready(function() {
    $('.variant-option').on('click', function() {

      $('.variant-option').not(this).removeClass('active');
      $(this).toggleClass('active');
    
      var price = $(this).data('attribute');
      var comparePrice = $(this).data('compare');
      var productId = $(this).closest('.col-md-3').data('product-id');
      
      // Update only the prices within the clicked product's container
      var container = $('.col-md-3[data-product-id="' + productId + '"]');
      container.find('.variant-price').text(price);
      container.find('.compare-price').text(comparePrice);
    });
  });
</script>
{% schema %}
  {
    "name": "Home featured products",
    "settings": [
       {
    "type": "text",
    "id": "heading",
    "label": "Add heading"
  },
         {
    "type": "text",
    "id": "url_text",
    "label": "Add button"
  },
       {
    "type": "url",
    "id": "text_url",
    "label": "Add url"
  },
      {
    "id":"product_lists",
    "type":"product_list",
    "label":"Products list"
    }
 
      
      
    ],

    "presets":[
      {
        "name": "featured products"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}